<!DOCTYPE html>
<html>
  <head>
    <title>Cookery: New Recipe</title>
  </head>
  <body>
    <h1>New Recipe</h1>

    <form action="{% url 'dinner:create_recipe' %}" method="POST">
      {% csrf_token %}

      <label for="recipe-name">Name</label>
      <input type="text" name="recipe_name" id="recipe-name">
      <label for="recipe-instructions">Instructions</label>
      <input type="text" name="recipe_instructions" id="recipe-instructions">
      <button type="submit">Add Recipe</button>
    </form>

  </body>
</html>
